.header {
    background: rgb(98,102,96);
    background: linear-gradient(56deg, rgba(98,102,96,1) 2%, rgba(0,0,0,1) 47%, rgba(98,102,96,1) 98%);
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;

}
.name {

    font-size: 20px;
    color: #e1e1e1;
}

.text {
    color: #e1e1e1;
    font-size: 30px;
}
.accound {
    display: flex;
    align-items: center;
}

.img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 0 30px 0 10px;
    background-color:#545454;
}


.header button {
    background-color: transparent;
    border: 2px solid #172517;
    border-radius: 20px;
    padding: 10px   30px;
    font-size: 20px;
    color: #fff;
}